@font-face {
    font-family: BebasNeue;
    src: url(../fonts/Bebas.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Myriad;
    src: url(../fonts/MyriadPro-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: BebasNeue, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: #fff;
    font-size: 24px;
    text-shadow: 2px 2px 4px #000;
}

button {
    height: 50px;
    width: 230px;
    min-width: 200px;
    background-color: #fff;
    border: none;
    color: #000;
    cursor: pointer;
    text-transform: uppercase;

    &:hover {
        background-color: #c3dfe4;
    }
}

a {
    color: #fff;
    text-decoration: none;

    &:hover {
        color: #c3dfe4;
    }
}

ul {
    li {
        list-style-type: none;
    }
}

h1 {
    font-size: 24px;
}

h4.heading {
    font-size: 56px;
    max-width: 750px;
    font-family: BebasNeue, Helvetica, Arial, sans-serif;
    line-height: 1.2;
}

.active {
    color: #fff;
    background: -moz-linear-gradient(top, rgba(109, 178, 255, 0.7) 0%, rgba(125, 185, 232, 0) 100%);
    background: -webkit-linear-gradient(top, rgba(109, 178, 255, 0.7) 0%, rgba(125, 185, 232, 0) 100%);
    background: linear-gradient(to bottom, rgba(109, 178, 255, 0.7) 0%, rgba(125, 185, 232, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b36db2ff', endColorstr='#007db9e8', GradientType=0);
}

.slick-slide:focus {
    outline: none;
}

.contacts {
    display: none;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.close-bg,
.status-close {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 300;
    background: rgba(0, 0, 0, .7);
}

.status-close {
    display: block;
}

.error {
    color: #da1818;
    transition: all .3s ease;
}

.bg-light {
    background: none !important;
}

.wrapper,
.wrapper-video {
    padding: 2% 8%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper-video {
    padding-top: unset;

    .block {
        .header {
            padding-top: 2%;
        }
    }
}


.show {
    display: block !important;
}

.modal-w {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1000;
    width: 600px;
    min-width: 320px;
    color: black;
    text-shadow: none;
    text-transform: none;
    background: rgba(255, 255, 255, 1);
}

.confidence-policy {
    display: none;
    padding: 5%;
    width: 80%;
    height: 80%;
    overflow-y: scroll;
    max-width: 100%;
    font-size: 17px;
    font-family: Myriad;

    &::-webkit-scrollbar {
        width: 0px;
        /* remove scrollbar space */
        background: transparent;
        /* optional: just make scrollbar invisible */
    }

    ul {
        li {
            list-style-type: disc;
        }
    }
}

.layout {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .8);
    z-index: -1;
}

.layout-second {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .2;
    background-color: none;
    background-image: radial-gradient(white 15%, transparent 16%),
        radial-gradient(white 15%, transparent 16%);
    background-size: 10px 10px;
    background-position: 0 0, 5px 5px;
}

.icons {
    width: 230px;
    height: 76px;
    background: url(../img/icons.svg) no-repeat 0 100%;
    background-size: contain;
}

.wrapper-video {
    display: block;
    position: relative;
    z-index: 3;

    .block .row {
        p {
            font-family: Myriad, Helvetica, Arial, sans-serif;
            text-transform: none;
            font-size: 22px;
        }
    }

    h2 {
        text-align: center;
        padding-top: 3%;
    }

    .layout,
    .layout-second {
        z-index: 0;
    }
}

.pulse-button {
    display: block;
    text-align: center;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 0 0 rgba(#5a99d4, .5);
    -webkit-animation: pulse 1.5s infinite;
}

.pulse-button:hover {
    -webkit-animation: none;
}

.status {
    height: 260px;
    width: 600px;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    font-size: 20px;

    p {
        font-family: Myriad;
    }

    a {
        resize: 18px;
        color: #035cff;
    }
}

@-webkit-keyframes pulse {
    0% {
        transform: scale(.99);
    }

    70% {
        transform: scale(1.05);
        box-shadow: 0 0 0 50px rgba(#5a99d4, 0);
    }

    100% {
        transform: scale(.99);
        box-shadow: 0 0 0 0 rgba(#5a99d4, 0);
    }
}

.mobile-active {
    transform: translateY(0) !important;
}

.pad {
    padding-bottom: 2%;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.header {
    &__logo {
        div:last-child {
            margin-left: 10px;
        }

        p {
            margin: 0;
        }

        .title {
            font-size: 24px;
        }

        a {
            text-decoration: none;

            &:hover {
                p {
                    color: #c3dfe4;
                }

                .cls-1 {
                    fill: #c3dfe4;
                }
            }
        }

        svg {
            width: 90px;
            height: 90px;

            &:hover {
                .cls-1 {
                    fill: #c3dfe4;
                }
            }
        }
    }

    &__nav {
        a {
            padding: 20px;
            text-decoration: none;
            font-size: 24px;

            &:hover {
                color: #fff;
                background: -moz-linear-gradient(top, rgba(109, 178, 255, 0.7) 0%, rgba(125, 185, 232, 0) 100%);
                background: -webkit-linear-gradient(top, rgba(109, 178, 255, 0.7) 0%, rgba(125, 185, 232, 0) 100%);
                background: linear-gradient(to bottom, rgba(109, 178, 255, 0.7) 0%, rgba(125, 185, 232, 0) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b36db2ff', endColorstr='#007db9e8', GradientType=0);
            }
        }

        &--mobile {
            display: none;
            position: fixed;
            left: 0;
            top: 0;
            z-index: 200;
            width: 100%;
            transform: translateY(-210px);
            transition: transform 250ms ease-in-out;
            background: rgb(34, 34, 34);

            ul {
                flex-direction: column;
                padding: 0;

                li {
                    list-style-type: none;

                    a {
                        text-transform: uppercase;
                        color: #fff;
                        display: block;
                        padding: 20px 50px;

                        &:hover {
                            color: #fff;
                            background: -moz-linear-gradient(top, rgba(109, 178, 255, 0.7) 0%, rgba(125, 185, 232, 0) 100%);
                            background: -webkit-linear-gradient(top, rgba(109, 178, 255, 0.7) 0%, rgba(125, 185, 232, 0) 100%);
                            background: linear-gradient(to bottom, rgba(109, 178, 255, 0.7) 0%, rgba(125, 185, 232, 0) 100%);
                            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b36db2ff', endColorstr='#007db9e8', GradientType=0);
                        }
                    }
                }
            }
        }

        &_icon {
            display: none;
            width: 30px;
            position: relative;
            z-index: 250;
            cursor: pointer;

            .spinner {
                transition: all 0.3s;
                box-sizing: border-box;
                position: absolute;
                height: 3px;
                width: 100%;
                background-color: #fff;
            }

            .horizontal {
                transition: all 0.3s;
                box-sizing: border-box;
                position: relative;
                float: left;
                margin-top: 5px;
            }

            .diagonal.part-1 {
                position: relative;
                transition: all 0.3s;
                box-sizing: border-box;
                float: left;
            }

            .diagonal.part-2 {
                transition: all 0.3s;
                box-sizing: border-box;
                position: relative;
                float: left;
                margin-top: 5px;
            }
        }
    }

    &__contacts,
    .contacts {
        p {
            margin: 0;

            a {
                font-size: 28px;
                text-decoration: none;
            }
        }
    }
}

.main {
    display: flex;
    flex-wrap: wrap;

    &__content-left {
        padding: 20px;

        #play {
            width: 100px;
            height: 100px;
            cursor: pointer;
            margin-bottom: 20px;
            border-radius: 50%;

            &:hover {
                path {
                    fill: #c3dfe4;
                }
            }
        }

        .video {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            z-index: 1000;
            max-width: 100%;
            width: 50%;
            height: 60%;
        }

        .show-more {
            font-size: 30px;
        }
    }

    &__content-right {
        padding: 20px;
    }

    &__content_form {
        display: none;
        max-width: 100%;

        .proposition {
            text-align: center;
            font-size: 20px;
        }

        .form {
            font-family: Myriad, Helvetica, Arial, sans-serif;
            padding: 40px 40px;
            font-size: 18px;
            text-align: left;

            input {
                height: 40px;
                font-size: 18px;
                color: #000;
            }

            input {
                &::-webkit-input-placeholder {
                    /* Chrome/Opera/Safari */
                    color: #dadada;
                }

                &::-moz-placeholder {
                    /* Firefox 19+ */
                    color: #dadada;
                }

                &:-ms-input-placeholder {
                    /* IE 10+ */
                    color: #dadada;
                }

                &:-moz-placeholder {
                    /* Firefox 18- */
                    color: #dadada;
                }
            }

            #phone {
                position: relative;
            }

            #phone-mask {
                position: absolute;
                bottom: 110px;
                left: 92px;
                color: #dedede;
                pointer-events: none;
            }

            input[type="submit"] {
                font-family: BebasNeue, Helvetica, Arial, sans-serif;
            }
        }
    }

    &__slider {
        width: 50vw;
        overflow: hidden;
        max-height: 100%;

        img {
            margin: 0 auto;
            max-width: 100%;
            height: 220px;
        }
    }
}

.footer {
    align-items: center;
    font-size: 18px;
    font-family: Myriad;
    text-transform: none;

    a,
    p {
        text-decoration: none;
        margin: 0;
    }
}

.block {
    // height: 100vh;
    // min-height: 100%;
    height: 100%;
    min-height: 100vh;
    background: transparent;
    position: relative;
    display: flex;
    flex-direction: column;

    // justify-content: space-between;
    // align-items: center;
    .next {
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 500;
    }

    .night-mode {
        p {
            text-align: right;
        }
    }
}

.top {
    position: fixed;
    display: none;
    bottom: 20px;
    right: 20px;
    width: 80px;
    z-index: 2000;

    svg {
        width: 60px;
    }
}

.cntr {
    align-items: center;
    justify-content: center;
}

.ball {
    animation: bounce 0.5s;
    animation-direction: alternate;
    animation-timing-function: ease;
    animation-iteration-count: infinite;

    -webkit-animation-name: bounce;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: ease;
    -webkit-animation-iteration-count: infinite;
}

@keyframes bounce {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(0, 10px, 0);
    }
}

@-webkit-keyframes bounce {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    to {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }
}

.master {
    max-width: 100%;
    height: 345px;
    background: url(../img/master.png) no-repeat 50%;
    background-size: contain;
}

.monitors {
    max-width: 100%;
    height: 479px;
    background: url(../img/monitors.png) no-repeat 50%;
    background-size: contain;
}

.night-cam,
.night-cam-2 {
    max-width: 100%;
    height: 230px;
    background: url(../img/night-cam.jpg) no-repeat 50%;
    background-size: contain;
}

.night-cam-2 {
    background: url(../img/night-cam-2.jpg) no-repeat 50%;
    background-size: contain;
}

.gallery-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    // flex-direction: row;
    flex-direction: column;
    width: 100%;

    div#ngy2p {
        width: 100%;
    }
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background: #000;
    transition: 1s;
    z-index: 2000;
    display: flex;
    align-items: center;
    justify-content: center;

    &:before {
        content: "";
        position: absolute;
        left: 0;
        width: 51%;
        height: 100%;
        background: #000;
        transition: 1s;
    }

    &.complete:before {
        left: -50%;
    }

    &:after {
        content: "";
        position: absolute;
        right: 0;
        width: 51%;
        height: 100%;
        background: #000;
        transition: 1s;
    }

    &.complete:after {
        right: -50%;
    }

    .loader {
        border: 16px solid #f3f3f3;
        /* Light grey */
        border-top: 16px solid rgba(109, 178, 255, 0.7);
        /* Blue */
        border-radius: 50%;
        width: 60px;
        height: 60px;
        // animation: spin 2s linear infinite;
        animation: spin 2s infinite;
        // position: absolute;
        // top: 47%;
        // left: 48.5%;
        // transform: translateX(-50%) translateY(-50%);
        z-index: 2000;
    }

    &.complete {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;

        .loader {
            display: none;
        }
    }


}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.nGY2 .nGY2GThumbnailAlbumTitle,
.nGY2 .nGY2GThumbnailImageTitle,
.nGY2 .toolbar .ngbt {
    font-family: Myriad, Helvetica, Arial, sans-serif;
    font-size: 18px;
    text-transform: none;
}



@media (min-width: 992px) {
    .main {
        &__content-left {
            padding-left: 10%;

            .show-more {
                max-width: 380px;
            }
        }
    }

    // .night-cam,
    // .night-cam-2 {
    //     height: 300px;
    // }
}

@media (min-width: 1368px) {

    .night-cam,
    .night-cam-2 {
        height: 380px;
    }
}

@media (max-width: 1368px) {
    h4 {
        font-size: 50px;
    }

    .main {
        &__content-left {
            .show-more {
                font-size: 24px;
                max-width: 310px;
            }
        }
    }
}

@media (max-width: 1235px) {
    .header {
        &__nav {
            display: none;
        }

        &__nav--mobile {
            display: block;

            ul {
                text-align: center;
                margin: 0;

                li {
                    width: 100%;

                    a {
                        width: 100%;
                        text-decoration: none;
                        padding: 17px 50px;
                    }
                }
            }
        }

        &__nav_icon {
            display: block;

            &--transform {
                .horizontal {
                    transition: all 0.3s;
                    box-sizing: border-box;
                    opacity: 0;
                }

                .diagonal.part-1 {
                    transition: all 0.3s;
                    box-sizing: border-box;
                    transform: rotate(135deg);
                    margin-top: 9px;
                }

                .diagonal.part-2 {
                    transition: all 0.3s;
                    box-sizing: border-box;
                    transform: rotate(-135deg);
                    margin-top: -11px;
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .main {
        &__content-left {
            margin: 0 auto;
            order: 1;

            .video {
                width: 70%;
                height: 60%;
            }

            #play {
                margin: 0 auto 20px;
            }

            .show-more {
                text-align: center;
                max-width: 100%;
            }
        }

        &__slider {
            order: 2;
        }
    }
}


@media (max-width: 768px) {
    h2 {
        font-size: 33px;
        margin-bottom: 50px;
    }

    h3 {
        font-size: 24px;
    }

    .header {
        &__contacts {
            display: none;
        }
    }

    .contacts {
        margin: 15px auto 25px;
        display: flex;
        width: 100%;
        font-size: 20px;
        justify-content: space-around;

        a {
            text-decoration: none;
        }
    }

    .main {
        overflow-y: auto;

        &__content-left {
            .video {
                width: 70%;
                height: 60%;
            }

            svg {
                margin: 20px auto;
            }
        }

        &__content-right {
            .get-price {
                margin-top: 20px;
            }
        }
    }

    .footer {
        font-size: 16px;
    }

    .block {
        .next {
            display: none;
        }
    }

    .wrapper-video {
        .block {
            height: unset;
            min-height: unset;

            .row {
                p {
                    font-size: 18px;
                    text-transform: none;
                }
            }

            .spy-cam {
                p {
                    padding: 30px 0;
                }
            }

            .night-mode {
                p {
                    text-align: left;

                }
            }

            &:last-child {
                .get-price {
                    margin-bottom: 50px;
                    width: 100%;

                }
            }

            .mounting {
                p {
                    padding-top: 30px;
                    margin: 0;
                }

                .get-price {
                    margin-top: 30px;
                }
            }

            .monitors {
                height: 270px;
            }

            .master {
                height: 245px;
            }

            .icons {
                margin: 0 auto;
                width: 170px;
                height: 56px;
            }
        }

        .top {
            right: -20px;

            svg {
                width: 40px;
            }
        }
    }
}

@media (max-width: 576px) {
    #myVideo {
        left: 50%;
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
    }

    .confidence-policy {
        width: 90%;
    }

    .wrapper {
        display: block;
    }

    .night-cam,
    .night-cam-2,
    .master {
        background-size: cover;
    }


    .header {
        &__logo {
            font-size: 16px;

            svg {
                height: 70px;
                width: 70px;
            }
        }
    }

    .main {
        &__content-left {
            .video {
                width: 80%;
                height: 70%;
            }

            .show-more {
                font-size: 22px;
            }

            #play {
                height: 80px;
                width: 80px;
            }
        }

        &__content-right {
            h4 {
                font-size: 36px;
            }
        }

        &__slider {
            img {
                height: 150px;
            }
        }
    }

    .footer {
        font-size: 13px;
    }
}

@media (max-width: 500px) {
    h1 {
        font-size: 20px;
    }

    .header {
        &__logo {
            svg {
                height: 50px;
                width: 50px;
            }

            .title {
                font-size: 20px;
            }
        }
    }

    .footer {
        // flex-direction: column;
        align-items: center;

        div {
            margin: 1px auto;

            &:last-child {
                order: -1;
            }
        }
    }
}

@media (max-width: 430px) {
    .main__content-right h4 {
        font-size: 26px;
    }

    h2 {
        font-size: 28px;
    }

    .header {
        padding-top: 22px;
    }

    .header__logo {
        width: 100%;
    }

    .wrapper-video .block .header {
        padding-top: 28px;
    }

    .header__nav_icon {
        position: fixed;
        top: 30px;
        right: 20px;
    }

    .main-link {
        flex-direction: column;
        text-align: center;
    }
}